//server
PORT=3000
NODE_ENV=development

//database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=chat_application

//session secret
SESSION_SECRET=your_session_secret